.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 600px;
}
.container label {
  display: flex;
  width: 90px;
  gap: 20px;
  align-items: center;
}
.container input,
.container textarea,
.container select {
  padding: 20px;
  background-color: #e2d9cb;
  width: 90%;
  border: none;
  border-radius: 5px;
  color: var(--textColor);
  font-size: 16px;
}
.container textarea {
  width: 100%;
}
.container button {
  padding: 15px;
  cursor: pointer;
  background-color: var(--bgDeep);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: bold;
}

.formImages {
  display: flex;
  gap: 40px;
}

.uploadBlock {
  display: flex;
  flex-direction: column;
}
.uploadBlock button {
  padding: 10px 25px;
}

.uploadBlock h3 {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 50px;
}

.uploadIcon {
  position: relative;
  font-size: 50px;
  opacity: 0.5;
  padding: 50px;
  width: 240px;
  height: 180px;
  border: 5px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

.selectImages {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  min-height: 80px;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0px 30px 60px;
    
  }
  .container>div{
    width: 90dvw;
    min-width: 300px;
  }
}
