.container {
  padding-top: 100px;
  display: flex;  
  min-height: calc(100dvh - 220px);
  gap: 100px;
}

.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col {  
  width: 100%;
  max-width: 600px;
  margin:0 auto;
}

.col  img {
  object-fit: cover;
  border-radius: 50%;
}

.line{
  margin: 100px;
  color: var(--bgSoft)
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}