.container{
    display: flex;
    flex-direction: column;
}

.variSpan{
    display: inline-block;
    min-width: 50px;
    padding: 5px 15px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #fff;
    color:var(--bg);
    font-weight: 600;
    cursor: pointer;
  }
  
  .variSpan.none{
    opacity: 0.5;
    cursor: default;
  }

  .variSpan.active{
    border: 3px solid rgb(252, 143, 18);
  }

  .propBox{
    display: flex;
    min-width: 320px;
    justify-content: space-between;
    margin-top: 50px;
   align-items: flex-end;
  }

  .price{
    font-size: 24px;
    font-weight: 600;
  }