.container {
  flex-direction: column;  
  min-height: calc(100dvh - 220px);
}

.textContainer {  
  display: flex;
  margin-left: 50px;
  gap: 10px;
}

.kvContainer{
  position: relative;
  width: 320px;
  height: 360px;
  margin-left: 70px;  
}

.w500{
  max-width: 500px;
  width: 100%;  
}

.boxes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -220px;
}

.box{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box:hover p{
  transform: translateY(-12px);
}
.box:hover .imgContainer {
  transform: scale(0.97);
}

.imgContainer {  
  position: relative;
  width: 340px;
  height: 400px;
}

.img{
  position: absolute; 
  bottom: 0;
  object-fit: contain;
  object-position: center bottom;
}

.box p{
  background: url('../../../public/about_item_bg.svg') center center no-repeat ;
  background-size: contain;
  font-family: 'Noto Sans TC';
  letter-spacing: 5px;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  color:#fff;
  position: relative;
  margin-top: -80px;
}

.btnBG{
  background: url('../../../public/arr_button_bg.svg') bottom center no-repeat;
  background-size: 250px;
  padding: 15px;
  font-size: 30px;
  color:var(--bgDeep);
  letter-spacing: 4px;
  font-family: 'Noto Sans TC';
  width: 300px;
}
.btnBG:hover{
  background-position: bottom right;
}


@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
    text-align: center;
    padding-top: 100px;
  }
  .textContainer{   
    flex-direction: column;
    margin: 0;
  }

  .kvContainer{
    width: 100%;
    height: 280px;
    margin: 0px;
  }
  .img{
    object-position: center bottom;    
  }

  .imgContainer{
    width:240px;
    height: 240px;
  }
  .boxes{    
    gap: 20px;
    margin: -250px auto 100px;
  }
}

@media screen and (max-width: 870px) {
  .container {
    align-items: center;
  }
  .boxes{
    flex-direction: column;
  }
  .textContainer{
    width: 100%;    
  }
  .w500{
   text-align: left;
   padding: 0;
  }
}