.formContainer{
    display: flex;
    flex-direction: column;
    gap:30px;
    flex: 2;  
  }


.formContainer label{
    display: flex;
    flex-direction: column;
    gap:10px;
  }
  
  .formContainer input{
    padding: 15px 20px;
    background-color: #E2D9CB;
    border: none;
    border-radius: 5px;
    color: var(--text);
    font-size: 16px;
    width: 100%;
  }
  
  .formContainer button{
    border-radius: 5px;
    border: none;
    padding: 12px 25px;
    font-size: 18px;
    letter-spacing: 2px;
    color: #fff;
    font-weight: 600;
    background-color: var(--bgDeep);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
  }

  .tips{
  font-size: 0.9rem;
  display: block;  
  color: gray;
  font-family: 'Noto Sans TC';
  margin-top: 10px;
}