.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 30px;
  gap: 40px;
  min-height: calc(100dvh - 220px);
  background: url('../../../public/contact_bg.svg') no-repeat bottom right -50px;
}

.imageBlock { 
  width: 45%;
  height: 500px;
  position: relative;
}
.desc{
  width:380px;
  display: flex;
  align-items: center;
  line-height: 36px;
}

.imgContainer{
  position: relative;
  width: 120px;
  height: 120px;
}

.img {
  object-fit: contain;
}

.contactBtn{
  display: flex;
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  width: 400px;
  justify-content: center;
  gap:30px;
  align-items: center;
  font-size: 20px;
  color: #2B3961;
  letter-spacing: 3px;
  font-family: 'Noto Sans TC';
  font-weight: 500;
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.15);
}
.h3Title{
  font-size: 30px;
  letter-spacing: 4px;
  font-family: 'Noto Sans TC';
  font-weight: 500;
  margin-bottom: 30px;
  line-height: 48px;
  color: #536AAA;
}

.lineDec{
  border-bottom: 2px solid #E2D0AF;
}



@media (max-width: 1024px) {
  .imageBlock{ 
    width: 100%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 360px;
  }
}

@media (max-width: 768px) {
  .container{
    padding: 50px 0;
    background-size: 70%; 
    gap:30px;
  }
  .desc{
    width: 100%;
    padding: 15px;
    line-height: 30px; 
    letter-spacing: 0px;
    display: flex;    
    justify-content: center; 
  }
  .h3Title{
    font-size: 24px;
    margin-bottom: 10px;
  }
  .contactBtn{
    width: 100%;
    font-size: 16px;
    letter-spacing: 1px;
    gap:15px;
    padding: 20px;
  }
  .imgContainer{
    width: 80px;
    height: 80px;
  }
}