.container {
  display: flex;
  flex-direction: column;
  gap:8px;
  margin-bottom: 20px;
}

.imgContainer {
  width: 180px;
  height: 180px;
  position: relative;
}

.img {
  object-fit: cover;
  border-radius: 5px;
}


.title {
  width: 90%;
  font-size: 20px;
  margin-bottom: 20px;
}



