.container{
  width: 100%;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap:20px;
}
.post {
  padding: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-bottom: 1px solid var(--textBrown);
  width: 48%;
}

.detail {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  width: 100%;  
}
.detail div{
  display: flex;
  align-items: center;
  gap:10px;
}
.postTitle{
  overflow: hidden;
  max-width: 150px;
}
.postButton{
  text-align: center;
  background-color: var(--textBrown);
  color:#fff;
  border-radius: 5px;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  width: 70px;
}

@media (max-width:1024px){
  .post {
    gap:10px;
  }
  .date{
    font-size: 14px;
  }
}

@media (max-width:768px){
  .container{
    gap:5px;
  }
  .post {
    width: 100%;
    padding: 8px 0px;
  }
  .postTitle {
    width: 120px;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; /* 使用省略符號來表示被截斷的文字 */
  }
  .detail div{
    gap:5px;
  }
  .date{
    font-size: 12px;
  }
  .postButton{
    width: 50px;
    padding: 8px;
  }
}