.metion{
    display: flex;
    align-items: center;
    gap:5px;
    justify-content: flex-end;
    color:#999999;
    font-family: 'Noto Sans TC';
    font-size: 14px;
    letter-spacing: 0.2px;
    font-weight: 500;
    margin-top: -15px;
  }
  
  .successStatus{
    display: flex;
    align-items: center;
    gap:5px;
    justify-content: flex-end;
    color: rgb(52, 226, 52);
    font-size: 14px;
    letter-spacing: 0.2px;
    font-weight: 600;
    margin-top: -15px;
  }
  
  .errorStatus {
    display: flex;
    align-items: center;
    gap:5px;
    justify-content: flex-end;
    color: rgb(226, 92, 38);
    font-size: 14px;
    letter-spacing: 0.2px;
    font-weight: 600;
    margin-top: -15px;
  }