.container{
    min-height: calc(100dvh - 220px);    
    align-items: start; 
    padding-top: 100px;
    display: flex;
    gap: 50px;
}

.details{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:15px;
}

.roleTag{
    background-color: var(--bgSoft);
    padding: 5px 10px;
    border-radius: 5px;
}

.avatar{
    border-radius: 50%;
}
.postContainer{
    display: flex;    
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;    
    width: 80%;
}
.postInner{
    display: flex;    
    flex-wrap: wrap;  
    gap:25px;  
}
.post{
    width: 120px;
}
.noPost{
    padding: 50px 30px 120px;
    color:gray;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    gap: 40px;
}
.noPost a{    
    padding: 15px 25px;
    background-color:var(--bgDeep);
    color:#fff;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 5px;
    align-self: center;
 }

.editButton{
    border:2px solid var(--bgDeep);
    color: var(--bgDeep);
    cursor: pointer;
    font-family: 'Noto Sans TC';
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 5px;    
  }

.iconButton{
    display: flex;
    align-items: center;
    gap:8px;
} 

.postButton{
   padding: 5px 10px;
   border:1px solid var(--bgDeep);
   color:var(--bgDeep);
   border-radius: 5px;
   cursor: pointer;
   font-family: 'Noto Sans TC';
   font-weight: 500;
}

.addPostButton{
  background-color: var(--textBrown);
  color:#fff;
  padding: 12px 18px;
  display: flex;
  align-items: center;
  gap:5px;
  border-radius: 5px;
}

.orderContainer{
    padding: 15px;
    border: 1px solid var(--textBrown);
    width: 280px;
}

.date{
    font-size: 14px;
    font-family: 'Noto Sans TC';
    display: flex;
    justify-content: space-between;
}

.orderName{   
    display: flex;
    flex-direction: column;      
    margin: 10px 0px 15px;
    padding-bottom: 10px;
    border-bottom: 1px dashed var(--textBrown);
}
.orderName h3{
    margin-bottom: 10px;
}
.orderName p{
    font-size: 14px;
    font-family: 'Noto Sans TC';
}

.summary{
    margin-top: 10px;
}

.colBlock{
    display: flex;
    flex-direction: column;
    gap:60px;
    width: 100%;
}
.ordersPool{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap:20px;
}