.container{
    min-height: calc(100dvh - 200px);
    height: 100%;
    padding-top: 50px;
    display: flex;
    gap: 50px;
}

.details{
    display: flex;
    flex-direction: column;
    gap:15px;    
    align-items: start;   
}

.roleTag{
    background-color: var(--bgSoft);
    padding: 5px 10px;
    border-radius: 5px;
}

.avatar{
    border-radius: 50%;
}
.postContainer{
    display: flex;    
    flex-direction: column;
    gap: 50px;
    align-items: center;
    width: 80%;
}
.postInner{
    display: flex;    
    flex-wrap: wrap;  
    gap:25px;  
}
.post{
    width: 120px;
}
.noPost{
    padding: 50px 30px 120px;
    color:gray;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    gap: 40px;
}
.noPost a{    
    padding: 10px 20px;
    background-color: #fff;
    color:var(--bg);
    font-weight: 600;
    border-radius: 5px;
    align-self: center;
 }

.editButton{
    border:1px solid #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;    
  }

.iconButton{
    display: flex;
    align-items: center;
    gap:8px;
} 

