.form{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}

.form input{
  padding:20px;
  background-color: #E2D9CB;
  color: var(--text);
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.form button{
  padding: 15px;
  cursor: pointer;
  background-color: var(--bgDeep);
  color:#fff;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 3px;
  border: none;
  border-radius: 5px;
}